<!DOCTYPE html>
<html>
<head>
    <title>ITIan</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav class="navbar">
        <a href="{% url 'trainee_list' %}" >Trainees</a>
        <a href="{% url 'add_trainee' %}">Add Trainee</a>
        <a href="{% url 'course_list' %}" >Courses</a>
        <a href="{% url 'add_course' %}">Add Course</a>
        <a href="{% url 'register' %}" >Register</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    </nav>
    <div>{% block content %}{% endblock %}</div>
</body>
</html>

